/*----------------------------------------
          HEADER SECTION
-----------------------------------------*/

header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: var(--header);
}
.innerSection {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.logoCon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 32px;
  height: 32px;
  animation: rotateLogo 6s linear infinite;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logoName {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.logoName span {
  color: var(--accent);
}

.taskCountCon {
  display: flex;
  width: 140px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  color: var(--text-muted);
}
.taskStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statTag {
  font-size: 0.75rem;
  color: var(--text-muted);
}
.doneStat {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--accent2);
}
.leftStat {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--accent);
}

.seprator {
  width: 1px;
  height: 30px;
  background-color: var(--border);
}

.doneTag {
  color: var(--done-tag-color);
}
.leftTag {
  color: var(--left-color);
}

/*----------------------------------------
          PROGRESS LOADER
-----------------------------------------*/

/* Progress Bar Container */
.progressBar {
  width: 100%;
  height: 2px;
  background: #656565;
  overflow: hidden;
}

/* Progress Fill */
.progressFill {
  width: 70%; /* change progress here */
  height: 100%;
  background: linear-gradient(90deg, var(--accent), var(--accent2));
  border-radius: inherit;
  transition: width 0.4s ease;
}

.progressFill {
  animation: loadBar 1s ease;
}

@keyframes loadBar {
  from {
    width: 0;
  }
}

.taskSection {
  max-width: 900px;
  width: 100%;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
}

/*----------------------------------------
          ADD TASK SECTION
-----------------------------------------*/

.addTaskSection {
  width: 100%;
  padding: 1.5rem 1.5rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tagLine {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.innerTagline1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-display-1);
  color: var(--text);
}
.innerTagline1 span {
  color: var(--accent);
}
.innerTagline2 {
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--text-muted);
}
.addTask {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}
.addButton {
  padding: 0.75rem 1.25rem;
  background-color: var(--button);
  color: black;
  font-weight: 400;
  border-radius: var(--radius);
  border: none;
}

.addButton:hover {
  background-color: var(--accent);
  transform: scale(1.05);
  cursor: pointer;
}

.taskInput {
  flex: 1;
  padding: 0.75rem 1rem;
  border-radius: var(--radius);
  background: var(--surface2);
  border: 0.5px solid var(--border);
  font-size: 14px;
  color: var(--text);
  outline: none;
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
}
.taskInput::placeholder {
  color: var(--border);
}

.taskInput:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px rgba(110, 143, 255, 0.1);
}

.rightSection {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.instruction {
  font-size: 0.9rem;
  color: var(--border);
}

.enterInst {
  background: var(--surface2);
  font-size: 0.7rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 4px 10px;
  color: var(--text-muted);
}

/*----------------------------------------
          TASK LIST
-----------------------------------------*/

.taskListSection {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1.5rem;
}

.filterSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.allBtn {
  padding: 0.4rem 1.5rem;
  background-color: var(--surface2);
  color: var(--border);
  border-radius: var(--radius) 0 0 var(--radius);
  border: 1px solid var(--border);
}
.activeBtn {
  padding: 0.4rem 1.5rem;
  background-color: var(--surface2);
  color: var(--border);
  border: 1px solid var(--border);
}
.doneBtn {
  padding: 0.4rem 1.5rem;
  background-color: var(--surface2);
  color: var(--border);
  border-radius: 0 var(--radius) var(--radius) 0;
  border: 1px solid var(--border);
}

.filter-tab:hover {
  color: #67769b;
  cursor: pointer;
}

.filter-tab.active {
  background: #071236ab;
  color: var(--accent);
  border-color: var(--left-color);
}

.clearDone {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  background-color: var(--surface2);
  color: var(--done-tag-color);
  border-radius: var(--radius);
  border: 1px solid var(--done-tag-color);
}
.clearDone:hover {
  color: var(--accent2);
  border-color: var(--accent2);
  cursor: pointer;
}

/*----------------------------------------
          TASK ITEM
-----------------------------------------*/

.itemContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-radius: var(--radius);
  background-color: var(--surface2);
  border: 1px solid var(--border);
}

.innerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.updateInput {
  width: 80%;
  background-color: transparent;
  color: white;
  border: none;
}
.updateInput:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.editStateBtn {
  margin-left: 10px;
  font-size: 0.75rem;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
}

.editStateBtn:hover {
  color: white;
  cursor: pointer;
  background-color: var(--done-tag-color);
}

.saveBtn {
  background-color: var(--button);
}
.cancelBtn {
  background-color: #0e18369a;
  color: #67769b;
}
.checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.checkbox:checked {
  background: var(--accent);
  border-color: var(--accent);
}

.checkbox:checked::after {
  content: "✓";
  color: #111827;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itemText {
  flex: 1;
  margin-left: 0.75rem;
  font-size: 1rem;
  color: #8d98bafd;
}

.itemContainer:hover {
  border-color: #67769b;
  cursor: pointer;
}

.btnCon {
  display: flex;
  gap: 10px;

  opacity: 0;
  visibility: hidden;

  transform: translateX(10px);

  transition: all 0.3s ease;
}

.itemContainer:hover .btnCon {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.btnNormal {
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--border);
  border: none;
}
.editBtn:hover {
  color: var(--accent);
  cursor: pointer;
  background-color: #071236ab;
}
.deleteBtn:hover {
  color: var(--danger);
  cursor: pointer;
  background-color: #e0555514;
}

/* empty state */

.emptyState {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyImg{
  height: 50px;
  width: 50px;
  opacity: 0.5;
  color: var(--accent);
}
.emptyLine1{
  margin-top: 20px;
  color: #8d98bafd;
}

.emptyLine2{
  margin-top: 10px;
  font-size: 0.80rem;
  color: #545c71fd;
}